
*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
.mainbody{
    background-color: black;
}
.icon{
    width: 13vw;
    height: 13vw;
}
.IconHolder{
    width: 20vw;
    height: 20vw;
    border-radius: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.2rem black;
}
.RGame_p{
    font-size: 2rem;
    text-align: center;
    font-family: 'Zen Dots', cursive;
}
.RButton{
    width: 125px;
    height: 125px;
    border-radius: 16px;
}
.RButtonR{ 
    background-image: url(/icons/rock.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.RButtonP{
    background-image: url(/icons/paper.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.RButtonS{
    background-image: url(/icons/scissors.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.RButton img{
    width: 70%;
    height: 70%;
}
.rps_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 65vh;
}
.rps_vs{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 15vw;
    height: 15vw;
}

.rps_vs img{
    width: 5vw;
    height: 5vw;
}
.rps_resultc{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100vw;
}
.rps_result img{
    height: 25vh;
}
.rps-buttonc{
    display: flex;
    column-gap: 5rem;
    height: 20vh;
    justify-content: center;
    align-items: center;
}
.RSButton{
    width: 75px;
    height: 75px;
    background-image: url(/imgs/gear.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 16px;
    transition: 2s;
    margin-left: 3vw;
    margin-right: 3vw;
}
.RSButton:hover{
    transform: rotate(75deg);
    transition: 2s;
}

.rps-settings{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 10vh;
    margin-top: -12vh;
    display: flex;
    flex-direction: row-reverse;

}
.rps-game{
    margin-top: -100vh;
    z-index: 1;
}
.rps-settings-page{
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 50vh;
    background-color: rgb(39, 68, 122);
    border-radius: 16px;
    border: solid 0.2rem darkblue;
}
.rps-settings-pageC{
    z-index: 2;
    display: none;
    flex-direction: column;
    width: 60vw;
    height: 50vh;
    background-color: rgb(39, 68, 122);
    border-radius: 16px;
    border: solid 0.2rem darkblue;
}
.rps-settings-page p{
    font-size: 1.8rem;
    color: white;   
    text-align: center;
}
.rps-p{
    border-bottom: 0.2rem solid rgba(33, 134, 167, 0.41);
}
.rps-n{
    visibility: hidden;
}
.rps-settings-c{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.rps-utils{
    display: flex;
    flex-direction: row;
    column-gap: 1rem   ;
    margin-left: 1rem;
}
.rps-buttonU{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border: solid 0.2rem white;
    border-radius: 16px;
}
/* Buttons utilities */
.rps-sound{
 
}
.rps-dmode{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6e6e6e; 
    /* background-color: #2e2e2e;  */
}
.rps-dmode:hover{
    transition: 1s;
    background-color: #4e4e4e;
}
.rps-moon{
    width: 80%;
    display: none;
}
.rps-sun{
    width: 80%;
    display: block;
}
.rps-mute{
    width: 80%;
    display: none;
}
.rps-sound{
    width: 80%;
    display: block;
}

